:root {
  --color-base-background: #FFF;
  --color-base-background-lighter: #dbdbdb;
  --color-base-text: #1e50a2;
  --color-base-text-lighter: rgba(43,49,59);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #164a96;
  --color-primary-text: #FFF;
}
